<h1>Formulaire inscription</h1>

<form #formLogin="ngForm" (ngSubmit)="validateFormFieldAndSave(formLogin)">
    <div class=" mb-3">
        <label for="lastName" class="form-label">Last name</label>
        <input ngModel name="lastName" type="text" class="form-control" id="lastName">
        <span class="erreur" id="erreurnom" *ngIf="errorLastName">{{errorLastName}}</span>
      </div>
      <div class="mb-3">
        <label for="firstName" class="form-label">First name</label>
        <input ngModel name="firstName" type="text" class="form-control" id="firstName">
        <span class="erreur" id="erreurprenom" *ngIf="errorFirstName">{{errorFirstName}}</span>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Courriel</label>
        <input ngModel name="email" type="email" class="form-control" id="email">
        <span class="erreur" id="erreuremail" *ngIf="errorEmail">{{errorEmail}}</span>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Mot de passe <span class="avert-mp">* 8 caractères minimum
          </span></label>
        <input ngModel name="password" type="password" class="form-control" id="password">
        <span class="erreur" id="erreurpassword" *ngIf="errorPassword">{{errorPassword}}</span>
      </div>
      <button type="submit" class="btn btn-primary m-2">Valider votre inscription</button>
</form>
<p><span class="erreur" id="erreurpays" *ngIf="errormessage">{{errormessage}}</span></p>