<h1>Connexion</h1>

<form #f="ngForm" (ngSubmit)="auth(f)">

    <label for="email">Email:</label>
    <input #inputEmail="ngModel" type="email" id="email" ngModel name="email" class="form-control" required>

    <div *ngIf="inputEmail.invalid && inputEmail.touched" class="alert alert-danger">
        <p  *ngIf="inputEmail.errors?.['required']">Veuillez remplir le champ email</p>
    </div>

    <label for="password">Password:</label>
    <input #inputMdp="ngModel" type="password" id="password" ngModel name="password" minlength="8" required class="form-control"  >
    <div *ngIf="inputMdp.invalid && inputMdp.touched" class="alert alert-danger">
        <p  *ngIf="inputMdp.errors?.['required']">Please fill in the password field</p>
        <p  *ngIf="inputMdp.errors?.['minlength']">Your password must contain 8 characters</p>
    </div>
    <button class="btn btn-primary" [disabled]="f.invalid">Login</button>
    <div *ngIf="error" class="alert alert-danger">
        {{error}}
    </div>
</form>